body{
    display: flex;
    flex-direction: column;
    background-color: rgb(212, 212, 245);
}
header{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 100%;
}
img{
    padding: 10px;
}



.score-and-timer{
    position: fixed;
    right:0;
    bottom: 0;
}
.hamburger{
    border: 0;
    background-color: transparent;
  }
